sudo: required
services:
    - docker

before_install:
    - docker build -t gmartinerro/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run gmartinerro/react-test npm test -- --coverage

after_success:
    - docker build -t gmartinerro/multi-client ./client
    - docker build -t gmartinerro/multi-nginx ./nginx
    - docker build -t gmartinerro/multi-api ./api
    - docker build -t gmartinerro/multi-worker ./worker
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    - docker push gmartinerro/multi-client
    - docker push gmartinerro/multi-nginx
    - docker push gmartinerro/multi-api
    - docker push gmartinerro/multi-worker

deploy:
    provider: elasticbeanstalk
    region: eu-west-1
    app: multi-docker
    env: MultiDocker-env
    bucket_name: elasticbeanstalk-eu-west-1-364419490213
    bucket_path: multi-docker
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
        secure: $AWS_SECRET_KEY
